/* font definition */
@font-face {
    font-family: "BallparkWeiner";
    src: url("polices/ballpark.eot");
    src: url("polices/ballpark.eot?#iefix") format("embedded-opentype"),
         url("polices/ballpark.woff") format("woff"),
         url("polices/ballpark.ttf") format("truetype"),
         url("polices/ballpark.svg#BallparkWeiner") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dayrom";
    src: url("polices/dayrom.eot");
    src: url("polices/dayrom.eot?#iefix") format("embedded-opentype"),
         url("polices/dayrom.woff") format("woff"),
         url("polices/dayrom.ttf") format("truetype"),
         url("polices/dayrom.svg#Dayrom") format("svg");
    font-weight: normal;
    font-style: normal;
}



.flex-container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 7%;
	padding-top: 15%;

}

.image-container {
	height: 490px;
	width: 300px;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	margin-right: 2%;
	margin-bottom: 2%;
}



.image-container img{
  width: 290px;
  height: 290px;
  margin-top: 20%;
  margin-left: 1.5%;
}



header {
	background-color: black;
	margin-right: -0.4%;
	margin-left: -2%;
}

.iconImage img{
	width: 100px;
	height: 100px;
	margin-left: 1%;
	margin-top: 2%;
}

#pageHeader {
	text-align: right;
	margin-right:  110px;
	margin-top: -9px;
}


#pageHeader img { 
	width: 42px;
	height: 42px;
}



#header  a:link, a:visited {
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#header  a:hover{
	text-decoration: underline;
	color: white;
	font-size: 1em;
}


#formular a:hover{
	text-decoration: underline;
	font-size: 1.5em;
	color: white;
}
/* design  for the header
*/
header {
	background-color: black;
	margin-right: -0.4%;
	margin-left: -2%;
}


header img{
	margin-right: 20px;
}


#headerDecoration {
  margin-top: -1.6%;
  margin-bottom: -30%;
  padding-bottom: 1%;
  margin-left: -2%;
  margin-right: -0.7%;
  width: auto;
  background-color: #404040; 
}


#headerDecoration  a:hover{
	text-decoration: underline;
	color: #00ffff;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: -2%;
    padding-top: -2%;
}



/* submit button */
input[type="submit"]:hover{
	font-size: 1em;
    text-decoration: underline;
}

input[type="submit"]{ 
    background-color: #808018;
    color: #fff;
    border-radius: 10px;
}

input[type="reset"]{ 
    background-color: red;
    color: #fff;
    border-radius: 10px;
}




h1.Blocktitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: black;
}


ul.links{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}


body.unitClass{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

.unitClass h3{
	margin-bottom: 30%;
}

footer.footerDecoration{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
}


footer {
	margin-top: 5%;
  padding: 0.5em;
  background-color: #404040;
  text-align: center;
  position: relative;

}

.contact{
	text-align: top-right;
}


#formular{
   width: 300px;
   height: 500px;
   box-shadow: 0px 2px 5px #1c1a19;
   border-radius: 10px;
   background-color: #483D8B;
   text-align: center;
   position: relative;
   margin: auto;
   padding: 10px;
   margin-top: -28%;
}

#decoration  {
   width: 350px;
   height: 500px;
   position: relative;
   left: 28%;
   margin-top: 4%;
   margin-bottom: 3%;
}

#decoration img{
  width: 350px;
  height: 510px;
  box-shadow: 3px 8px 5px 3px #808018;
  border-radius: 6px;
}

/* Formular ......*/
@media all and (max-width: 1490px){

  ul.links{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  margin-top: 1%;
}
 
 

#formular{
     width: 300px;
     height: 500px;
     box-shadow: 0px 2px 5px #1c1a19;
     border-radius: 10px;
     background-color: #483D8B;
     text-align: center;
     margin: auto;
     margin-top: 5%;  
}

#decoration{
  display: none;
 }
}




#formular p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#formular-wraper {
	color: black;
	background-color: url(Images/bbformular.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#blockTitle{
	margin-top: 35%;
	margin-bottom: -15%;
}

#titleCreator h1 {
	text-align: center;
	color: #808018;
	margin-bottom: 1%;
}

#titleCreator h3 {
	text-align: center;
	color: #808018;
	position: relative;

}

/* just for a period */
#warning {
 text-align: center;
font-size: 6em;
color: red;
}


.radio-item {
  display: flex;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #004c97;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #004c97;
}


.capSize-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.hairType-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.hairLength-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.hairColor-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}

.hairDensity-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.processingTime-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.privateWigFitting-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}

.styling-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.quantity-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}




