/* font definition */
@font-face {
    font-family: "BallparkWeiner";
    src: url("polices/ballpark.eot");
    src: url("polices/ballpark.eot?#iefix") format("embedded-opentype"),
         url("polices/ballpark.woff") format("woff"),
         url("polices/ballpark.ttf") format("truetype"),
         url("polices/ballpark.svg#BallparkWeiner") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dayrom";
    src: url("polices/dayrom.eot");
    src: url("polices/dayrom.eot?#iefix") format("embedded-opentype"),
         url("polices/dayrom.woff") format("woff"),
         url("polices/dayrom.ttf") format("truetype"),
         url("polices/dayrom.svg#Dayrom") format("svg");
    font-weight: normal;
    font-style: normal;
}

header {
	background-color: black;
	margin-right: -0.4%;
	margin-left: -2%;
}


#pageHeader {
	text-align: right;
	margin-right:  110px;
	margin-top: -9px;
}


#pageHeader img { 
	width: 42px;
	height: 42px;
}



#header  a:link, a:visited {
    color: white;

    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#header  a:hover{
	text-decoration: underline;
	font-size: 1em;
}


#formular a:hover{
	text-decoration: underline;
	font-size: 1.5em;
}
/* design  for the header
*/
header {
	background-color: black;
	margin-right: -0.4%;
	margin-left: -2%;
}


header img{
	margin-right: 20px;
}


   #headerDecoration h1{
	 color: white;
     margin-left: 5%;
    }

   #headerDecoration h1 span{
	  font-family: Dayrom,serif;
	  color: #FF00FF
    }

   #headerDecoration h1 d{
	  font-size: 50%;
	  font-family: Dayrom,serif;
	  color: #FF00FF
   }

   #headerDecoration  sa{
	  color: white;
	  margin-top: -1.6%;
	  margin-bottom: -30%;
	  margin-left: 89%;
	}

   #headerDecoration {
	  margin-top: -1.6%;
	  margin-bottom: -30%;
	  margin-left: -2%;
	  margin-right: -0.7%;
	  width: auto;
	  height: 140px;
	  background-color: #33001a;
   }

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: white;
}

nav a {
    font-size: 1em;
    padding-bottom: 5px;
    color: white;
    
}

nav li {
    margin-right: -40px;
}

/* submit button */
input[type="submit"]:hover{
	font-size: 1em;
    text-decoration: underline;
}

input[type="submit"]{
    
    background-color: #808018;
    color: #fff;
    border-radius: 10px;
}

/* search bar*/
.search {
  width: 100%;
  position: relative
}


@media screen and (max-width: 1370px){
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-top: -70%;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  background-image: url(Images/searchicon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: -70%;
}
 }


.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-top: -75%;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  background-image: url(Images/searchicon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: -75%;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1.Blocktitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #FF00FF;
}


ul.links{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

sa.links{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}


body.unitClass{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}


footer.footerDecoration{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}


#all0 {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 16%;
	

}


.inner-all0{
	display: flex;;
	height: 350px;
	width: 10000px;
}


/* section design0 */
#left_section0 {
	width: 300px;
	height: 300px;
	margin-right: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 2px;
	background: url("Images/hair7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section0 {
	position: relative;
}


#description {
	background-color: white;
	position:absolute; 
	bottom:0;
	color: red;
}


/* image at the coner of the section */
#percentage_image {
	position: relative; 
}


#percentage_image img {
	width: 75px;
    height: 75px;
	position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;   
}



/* section design00 */
#left_section00 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 2%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/hair6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on  the section */
#left_section00 {
	position: relative;
}


/* section design00 */
#left_section01 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 4%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/hair3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section01 {
	position: relative;
}



/* section design02 */
#left_section02 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 6%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/hair5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section02 {
	position: relative;
}


/* section design03 */
#left_section03 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 10%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
	background: url("Images/hair4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section03 {
	position: relative;
}


/* section design03 */
#left_section04 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 14%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 14px;
	background: url("Images/hair1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section04 {
	position: relative;
}


/* section design03 */
#left_section05 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 18%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
	background: url("Images/hair2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section05 {
	position: relative;
}




/* section design03 */
#left_section06 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 22%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
	background: url("Images/hair5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section06 {
	position: relative;
}

#all1 {
	display: flex;
    background-color: #bebebe;
	width: 100%;
	height: 350px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 4%;

}


.inner-all1 {
	display: flex;
	width: 10000px;

}


/* section design02 */
#left_section10 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left:  1%;
	margin-top: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/hair8.jpg");
	background-repeat: no-repeat;
	background-size: cover;	 
}

/* description at the end on f the section */
#left_section10 {
	position: relative;
}


/* section design02 */
#left_section11 {
	width: 300px;
	height: 300px;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    margin-right: 1%;
    margin-top: 1%;
	background: url("Images/hair9.jpg");
	background-repeat: no-repeat;
	background-size: cover;	 
}

/* description at the end on f the section */
#left_section11 {
	position: relative;
}


footer {
	margin-top: 5%;
    padding: 0.5em;
    background-color: #808018;
    text-align: center;
    position: relative;

}

.contact{
	text-align: top-right;
}

/* Formular ......*/
@media all and (max-width: 1365px){
  #formular {
     width: 300px;
	 height: 500px;
	 box-shadow: 0px 2px 5px #1c1a19;
     border-radius: 10px;
     background-color: #483D8B;
     text-align: center;
     position: relative;
     margin: auto;
     padding: 10px;
     margin-top: -38%;
    }

  #decoration  {
    width: 350px;
    height: 500px;
	position: relative;
	left: 18%;
	margin-top: 5%;
	margin-bottom: 4%;
   }
}



#formular {
   width: 300px;
   height: 500px;
   box-shadow: 0px 2px 5px #1c1a19;
   border-radius: 10px;
   background-color: #483D8B;
   text-align: center;
   position: relative;
   margin: auto;
   padding: 10px;
   margin-top: -28%;
}

#decoration  {
   width: 350px;
   height: 500px;
   position: relative;
   left: 28%;
   margin-top: 4%;
   margin-bottom: 3%;
}

#decoration img{
	width: 350px;
	height: 510px;
	box-shadow: 3px 8px 5px 3px #808018;
	border-radius: 6px;
}



#formular p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#formular-wraper {
	color: black;
	background-color: url(Images/bbformular.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#blockTitle{
	margin-top: 35%;
	margin-bottom: -15%;
}

#titleCreator h1 {
	text-align: center;
	color: #808018;
	margin-bottom: 1%;
}

#titleCreator h3 {
	text-align: center;
	color: #808018;
	position: relative;

}

/* just for a period */
#warning {
 text-align: center;
font-size: 6em;
color: red;
}


.radio-item {
  display: flex;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #004c97;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #004c97;
}


.capSize-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.hairType-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.hairLength-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.hairColor-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}

.hairDensity-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.processingTime-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.privateWigFitting-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}

.styling-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}


.quantity-option-item select{
	width: 900px;
	height: 40px;
	border-radius: 10px;
}




