/* font definition */
@font-face {
    font-family: "BallparkWeiner";
    src: url("polices/ballpark.eot");
    src: url("polices/ballpark.eot?#iefix") format("embedded-opentype"),
         url("polices/ballpark.woff") format("woff"),
         url("polices/ballpark.ttf") format("truetype"),
         url("polices/ballpark.svg#BallparkWeiner") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dayrom";
    src: url("polices/dayrom.eot");
    src: url("polices/dayrom.eot?#iefix") format("embedded-opentype"),
         url("polices/dayrom.woff") format("woff"),
         url("polices/dayrom.ttf") format("truetype"),
         url("polices/dayrom.svg#Dayrom") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* design  for the header
*/
header {
	background-color: black;
	margin-right: -0.4%;
	margin-left: -2%;
}


header img{
	margin-right: 20px;
}

#pageHeader {
	text-align: right;
	margin-right:  110px;
	margin-top: -9px;
}


#pageHeader img { 
	width: 42px;
	height: 42px;
}

/* still part of the header */


#banner h1 {
	font-size: 60px;
	background-color: #00B4CC;
	width: 300px;
	margin-left: 80px;
}

#banner h2{
	color: #00B4CC;
	text-align: center;
	font-family: Dayrom, serif;
	font-size:  90px;
	margin-left: 120px;
}

#banner h3{
	color: #ff00ff;
	text-align: center;
	margin-top: -69px;
}


#banner {
	margin-top: -40px;
	margin-left: -2%;
	margin-right: -0.4%;
	width: auto;
	height: 500px;
	background: url("Images/sneaker.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 1.8em;
    color: #181818;
    padding-bottom: 5px;
    text-decoration: none;
}

nav li {
    margin-right: -40px;
}

/* search bar*/


.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-top: 0%;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  background-image: url(Images/searchicon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0%;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#all0 {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 4%;
	

}


.inner-all0{
	display: flex;;
	height: 350px;
	width: 10000px;
}


/* section design0 */
#left_section0 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/shoe1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section0 {
	position: relative;
}


#description {
	position:absolute; 
	bottom:0;
	color: red;
}


/* image at the coner of the section */
#per {
	position: relative;
}


#per img {
	width: 75px;
    height: 75px;
	position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;   
}



/* section design00 */
#left_section00 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/shoe2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on  the section */
#left_section00 {
	position: relative;
}


/* section design00 */
#left_section01 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/shoe3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section01 {
	position: relative;
}



/* section design02 */
#left_section02 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/shoe5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section02 {
	position: relative;
}


/* section design03 */
#left_section03 {
	width: 300px;
	height: 300px;
	margin-right: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
	background: url("Images/shoe5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section03 {
	position: relative;
}

#all1 {
	display: flex;
    background-color: #bebebe;
	width: 100%;
	height: 350px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 4%;

}


.inner-all1 {
	display: flex;
	width: 10000px;

}


/* section design02 */
#left_section10 {

	width: 300px;
	height: 300px;
	margin-right: 1%;
	margin-left:  1%;
	margin-top: 1%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
	background: url("Images/shoe5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section10 {
	position: relative;
}


/* section design02 */
#left_section11 {

	width: 300px;
	height: 300px;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    margin-right: 1%;
    margin-top: 1%;
	background: url("Images/shoe3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 
}

/* description at the end on f the section */
#left_section11 {
	position: relative;
}


footer {
	margin-top: 4%;
    padding: 6.1em;
    color: white;
    background-color: #48D1CC;
    text-align: center;
    position: ´relative;
}

.contact{
	text-align: right;
	
}
/* Formular ......*/

#formular {
	width: 400px;
	height: 500px;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    background-color: #483D8B;
    text-align: center;
    position: center;
    margin: auto;
    padding: 10px;
    margin-top: 5%;
}

#deco img {
	width: 350px;
	height: 350px;
	float: left;

}



#formular p {
	color: white;
}

#formular-wraper {
	color: black;
	background-color: url(Images/bbformular.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}